{% extends 'enroll/base.html' %}
{% load static %}

{% block title %}
Edit
{% endblock title %}

{% block style_links %}
<link rel="shortcut icon" href="{% static 'enroll/images/edit_favicon.svg' %}" type="image/svg">
{% endblock style_links %}

{% block content %}
<div class="row">
    <div class="col-sm-4 offset-4">
        <h4 class="text-center alert alert-info">Edit Note</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Update">
            <a href="{% url 'add' %}" class="btn btn-danger">Cancel</a> 
        </form>
    </div>
</div>
{% endblock content %}
